li.projects-item
  a.projects-link.js-project-open(href="#app-marathon")
    img.projects-img(src="images/projects/app-marathon.jpg" alt="App Marathon" title="Thumbnail App Marathon")

    +projects-info("App Marathon")
