li.projects-item
  a.projects-link.js-project-open(href="#call-to-innovation")
    img.projects-img(src="images/projects/call-to-innovation.jpg" alt="Call to Innovation" title="Thumbnail Call to Innovation")

    +projects-info("Call to Innovation")
