li.projects-item
  a.projects-link.js-project-open(href="#fiap-corporate")
    img.projects-img(src="images/projects/fiap-corporate.jpg" alt="FIAP Corporate" title="Thumbnail FIAP Corporate")

    +projects-info("FIAP Corporate")
