li.projects-item
  a.projects-link.js-project-open(href="#fiap-undergraduate")
    img.projects-img(src="images/projects/fiap-undergraduate.jpg" alt="FIAP" title="Thumbnail FIAP Undergraduate")

    +projects-info("FIAP Undergraduate")
