li.projects-item
  a.projects-link.js-project-open(href="#naturally-bizarre")
    img.projects-img(src="images/projects/naturally-bizarre.jpg" alt="Naturally Bizarre" title="Thumbnail Naturally Bizarre")

    +projects-info("Naturally Bizarre")
