li.projects-item
  a.projects-link.js-project-open(href="#particles")
    img.projects-img(src="images/projects/particles.jpg" alt="Particles" title="Thumbnail Particles")

    +projects-info("Particles")
