li.projects-item
  a.projects-link.js-project-open(href="#richard-rodrigues")
    img.projects-img(src="images/projects/richard-rodrigues.jpg" alt="Richard Rodrigues" title="Thumbnail Richard Rodrigues")

    +projects-info("Richard Rodrigues")
