li.projects-item
  a.projects-link.js-project-open(href="#triangles")
    img.projects-img(src="images/projects/triangles.jpg" alt="Triangles" title="Thumbnail Triangles")

    +projects-info("Triangles")
