include ./util/_mixins

doctype html
html
  head
    title LHBZR - Portfolio of Luis Henrique Bizarro

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    meta(name="description" content="Creative Technologist and Front End Developer with focus on JavaScript, WebGL and Canvas. ")

    link(rel="shortcut icon" href="favicon.png")

    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata:400,700")
    link(rel="stylesheet" href="dist/css/main.css")

    meta(property="og:url" content="https://lhbzr.com/")
    meta(property="og:title" content="LHBZR")
    meta(property="og:image" content="share.jpg")
    meta(property="og:description" content="Creative Technologist and Front End Developer with focus on JavaScript, WebGL and Canvas. ")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@lhbzr")
    meta(name="twitter:title" content="LHBZR")
    meta(name="twitter:description" content="Creative Technologist and Front End Developer with focus on JavaScript, WebGL and Canvas. ")
    meta(name="twitter:image" content="share.jpg")

  body
    .content
      include ./pages/_logo
      include ./pages/_music
      include ./pages/_projects
      include ./pages/_home
      include ./pages/_about
      include ./pages/_project

    script(src="dist/js/main.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68362223-1', 'auto');
      ga('send', 'pageview');
