.about
  border-radius 3px
  color #000
  height 315px
  overflow hidden
  padding 25px
  position absolute
  width 315px
  z-index 2

  &-top,
  &-right
  &-bottom,
  &-left
    background #FFF
    content ''
    position absolute

  &-right,
  &-left
    height 100%
    width 1px

  &-top,
  &-bottom
    height 1px
    width 100%

  &-top
    left 0
    top 0

  &-right
    right 0
    top 0

  &-left
    left 0
    top 0

  &-bottom
    bottom 0
    left 0

.about-title
  display block
  font-size 20px
  font-weight bold
  margin-bottom 15px
  margin-top 0

  @media (max-width: 400px)
    letter-spacing 2px
    margin-top 0.67em

.about-desc
  font-size 12px
  letter-spacing 1px
  line-height 24px

.about-bg
  background #FFF
  bottom -75px
  left -150px
  position absolute
  right -150px
  top -75px
  transform rotate(-10deg) translateY(0%)
  z-index -1
