.about
  background rgba(#FFF, .1)
  border 1px solid #FFF
  border-radius 2px
  color #FFF
  height 325px
  padding 25px
  position absolute
  transition background .4s, color .4s
  width 325px
  z-index 2

  &:hover
    background #FFF
    color #000

.about-title
  display block
  font-size 20px
  font-weight bold
  margin-bottom 15px
  margin-top 0

  @media (max-width: 400px)
    letter-spacing 2px
    margin-top 0.67em

.about-desc
  font-size 12px
  letter-spacing 1px
  line-height 24px
