.content
  position relative
  z-index 1

  &:after
    background-image -webkit-repeating-radial-gradient(center center, rgba(#FFF, .15), rgba(#FFF, .15) 1px, transparent 1px, transparent 100%)
    background-image -moz-repeating-radial-gradient(center center, rgba(#FFF, .15), rgba(#FFF, .15) 1px, transparent 1px, transparent 100%)
    background-image -ms-repeating-radial-gradient(center center, rgba(#FFF, .15), rgba(#FFF, .15) 1px, transparent 1px, transparent 100%)
    background-image repeating-radial-gradient(center center, rgba(#FFF, .15), rgba(#FFF, .15) 1px, transparent 1px, transparent 100%)
    background-size 30px 30px
    bottom 0
    content ''
    left 0
    position absolute
    right 0
    top 0
