.loader
  background #000
  bottom 0
  left 0
  position absolute
  right 0
  top 0
  z-index 100

.loader-progress
  animation loading 1s linear infinite alternate
  border 1px solid #FFF
  display block
  height 50px
  left 50%
  position absolute
  top 50%
  transform translate(-50%, -50%)
  width 50px

@keyframes loading
  0%
    height 25px
    width 25px

  100%
    height 100px
    width 100px
