.menu
  @media (max-width 800px)
    display none

.menu-list
  list-style none
  margin 0
  padding 0

.menu-link
  background rgba(#FFF, .1)
  border 1px solid #FFF
  border-radius 2px
  color #FFF
  display block
  fill #FFF
  font-size 10px
  font-weight bold
  letter-spacing 0.25em
  margin-right -0.25em
  overflow hidden
  padding 20px 30px
  position absolute
  text-transform uppercase
  transition background .4s, color .4s, fill .4s
  z-index 5

  &:hover
    background #FFF
    fill #000
    color #000
