/**
 * Music.
 */
.music
  bottom 15px
  color #FFF
  font-size 13px
  font-weight 100
  letter-spacing 0.1em
  position absolute
  text-align center
  width 100%
  z-index 100

  @media (max-width 1080px)
    display none


/**
 * Buttons.
 */
.music-btns
  display block
  margin-bottom 10px

.music-btn
  border none
  background none
  outline none
  padding 0
  fill #FFF

.music-toggle
  .music-btn-icon-pause
    display block

  .music-btn-icon-play
    display none

  &.is-paused
    .music-btn-icon-pause
      display none

    .music-btn-icon-play
      display block

.music-btn-icon
  height 13px
  stroke #FFF
  width 13px


/**
 * Infos.
 */
.music-soundcloud
  display inline-block
  margin-right 15px
  margin-top -2px
  vertical-align middle

.music-title,
.music-user
  text-transform capitalize
