.music
  bottom 15px
  color #FFF
  font-size 13px
  font-weight 100
  letter-spacing 0.1em
  opacity 0
  position absolute
  text-align center
  transition opacity .4s
  visibility hidden
  width 100%
  z-index 100

  &.is-active
    opacity 1
    visibility visible

  @media (max-width 1080px)
    display none



.music-btns
  display block
  margin-bottom 10px

.music-btn
  border none
  background none
  outline none
  padding 0
  fill #FFF

.music-toggle
  .music-btn-icon-pause
    display block

  .music-btn-icon-play
    display none

  &.is-paused
    .music-btn-icon-pause
      display none

    .music-btn-icon-play
      display block

.music-btn-icon
  height 13px
  stroke #FFF
  width 13px



.music-soundcloud
  display inline-block
  margin-right 15px
  margin-top -2px
  vertical-align middle

.music-title,
.music-user
  text-transform capitalize
