/**
 * Projects.
 */
.projects
  background #000
  font-size 0
  height 100%
  max-width 85%
  padding 20px
  position fixed
  top 0
  left 0
  overflow-x hidden
  overflow-y auto
  transform translateX(-100%)
  z-index 3

  &::-webkit-scrollbar
    width 3px

  &::-webkit-scrollbar-track
    background #000

  &::-webkit-scrollbar-thumb
    background #FFF


/**
 * List.
 */
.projects-list
  margin 0
  padding 0

.projects-item
  display block

  &:not(:first-child)
    margin-top 20px

.projects-link
  border 1px solid #313131
  display inline-block
  position relative
  transition -webkit-filter .4s, filter .4s
  -webkit-filter grayscale(100%)
  filter grayscale(100%)

  &:hover
    -webkit-filter grayscale(0%)
    filter grayscale(0%)


/**
 * Image.
 */
.projects-img
  display block
  width 100%

.projects-square
  display block
  bottom 10px
  left 10px
  overflow hidden
  position absolute
  right 10px
  top 10px

.projects-square-top,
.projects-square-right,
.projects-square-bottom,
.projects-square-left
  background rgba(#FFF, .2)
  position absolute

.projects-square-top,
.projects-square-bottom
  left 0
  height 1px
  width 100%

.projects-square-right,
.projects-square-left
  top 1px
  height calc(100% - 2px)
  width 1px

.projects-square-top
  top 0
  transform translateX(100%)

.projects-square-right
  right 0
  transform translateY(100%)

.projects-square-bottom
  bottom 0
  transform translateX(-100%)

.projects-square-left
  left 0
  transform translateY(-100%)


/**
 * Info.
 */
.projects-info
  left 50%
  overflow hidden
  position absolute
  text-align center
  top 50%
  transform translate(-50%, -50%)
  white-space nowrap

.projects-title
  display inline-block
  color #FFF
  font-size 18px
  font-weight 200
  letter-spacing 3px
  margin-bottom 5px
  margin-right -3px
  padding 4px 10px
  position relative
  text-transform uppercase

.projects-title-hover
  color #000
  display block
  font-size 18px
  font-weight 200
  left 10px
  letter-spacing 3px
  overflow hidden
  position absolute
  padding 4px 0
  right 100%
  text-transform uppercase
  top 0
  z-index 2

.projects-title-bg
  background #FFF
  display block
  left 0
  height 100%
  position absolute
  right 100%
  top 0
  z-index 1

.projects-tag
  display block
  color #FFF
  font-size 10px
  letter-spacing 1.5px
  max-height 0
  opacity 0
  overflow hidden
  text-transform lowercase
