/**
 * Projects.
 */
.projects
  background #000
  font-size 0
  height 100%
  max-width 85%
  position fixed
  top 0
  left 0
  overflow-x hidden
  overflow-y auto
  transform translateX(-100%)
  z-index 3


/**
 * List.
 */
.projects-list
  margin 0
  padding 20px

.projects-item
  display block

  &:not(:first-child)
    margin-top 20px

.projects-link
  border 1px solid #313131
  display inline-block
  filter grayscale(100%)
  position relative
  transition filter .4s

  &:hover
    filter grayscale(0%)


/**
 * Media.
 */
.projects-img
  display block
  width 100%


/**
 * Information.
 */
.projects-info
  left 50%
  overflow hidden
  position absolute
  text-align center
  top 50%
  transform translate(-50%, -50%)
  white-space nowrap

.projects-title
  display block
  font-size 15px
  font-weight 200
  letter-spacing 3px
  margin-right -3px
  padding 5px 10px
  position relative
  text-transform uppercase


/**
 * Background.
 */
.projects-bg-black
.projects-bg-white
  left 0
  height 100%
  position absolute
  top 0
  transform translateX(-100%)
  width 200%
  z-index 1

.projects-bg-black
  background #000

.projects-bg-white
  background #fff
