.projects
  background #000
  border-top 1px solid #FFF
  bottom 0
  left 0
  position absolute
  right 0
  transform translateY(100%)
  z-index 2

  &:after,
  &:before
    bottom 0
    content ''
    position absolute
    top 0
    width 200px
    z-index 10

  &:after
    background linear-gradient(to left, #000 0%, transparent 100%)
    right 0

  &:before
    background linear-gradient(to right, #000 0%, transparent 100%)
    left 0

.projects-label
  bottom 100%
  color #FFF
  font-size 10px
  font-weight 700
  left 50%
  letter-spacing 0.1em
  position absolute
  text-transform uppercase
  transform translateX(-50%)
  z-index 2

  &:after
    background #FFF
    content ''
    display block
    height 30px
    margin 15px auto 0
    width 1px

.projects-list
  font-size 0
  margin 0
  overflow hidden
  padding 0 15px
  white-space nowrap
  width 100%

.project
  display inline-block
  text-align center
  vertical-align middle

.project-link
  background #000
  display block
  padding 30px 15px
  position relative

.project-img
  display block
  width 100%
