/**
 * Project.
 */
.project
  background rgba(0, 0, 0, .8)
  display block
  height 100%
  left 0
  opacity 0
  overflow-x hidden
  overflow-y auto
  position absolute
  top 0
  visibility hidden
  width 100%
  z-index 2

  @media (max-width 1080px)
    background #000


/**
 * Wrapper.
 */
.project-wrapper
  display table
  height 100%
  width 100%


/**
 * Content.
 */
.project-content
  display table-cell
  padding 50px 0
  text-align center
  vertical-align middle

  @media (max-width 1080px)
    vertical-align top


/**
 * Logo.
 */
.project-logo
  height 130px
  left 0
  position absolute
  stroke #fff
  top 50%
  transform translateY(-50%)
  visibility hidden
  width 10%

  @media (max-width 1080px)
    margin-bottom 50px
    position static
    transform translateY(0)
    visibility visible
    width 130px


/**
 * Close.
 */
.project-btn
  @media (max-width 1080px)
    position relative
    left 0
    display block
    margin 50px auto 0


/**
 * Item.
 */
.project-item
  display table
  height 100vh
  left 0
  opacity 0
  padding 0 15%
  position absolute
  top 0
  visibility hidden
  width 100%

  @media (max-width 1080px)
    height auto
    padding 0 10%

  &.is-active
    visibility visible

    @media (max-width 1080px)
      position relative


/**
 * Columns.
 */
.project-item-left,
.project-item-right
  display table-cell
  vertical-align middle

  @media (max-width 1080px)
    display block

.project-item-left
  text-align center
  width 60%

  @media (max-width 1080px)
    width 100%

.project-item-right
  padding-left 5%
  text-align left
  width 40%

  @media (max-width 1080px)
    margin-top 25px
    padding-left 0
    text-align center
    width 100%


/**
 * Media.
 */
.project-media
  position relative

.project-media-list
  display inline-block
  height auto
  margin 1px
  max-height 60vh
  overflow-y auto
  overflow-x hidden
  position relative
  vertical-align middle
  width calc(100% - 2px)
  z-index 2

  &:after
    bottom 0
    content ''
    display block
    left 0
    position absolute
    right 0
    top 0

.project-media-item
  overflow hidden
  height 0

  &.is-active
    height auto


/**
 * Image.
 */
.project-media-img
  display block
  height auto
  width 100%


/**
 * Navigation.
 */
.project-media-btns
  bottom 0
  font-size 0
  line-height 0
  margin-right 5px
  position absolute
  right 100%
  top 0

.project-media-btn
  background none
  border none
  color #fff
  display block
  font-size 15px
  outline none
  opacity 0.25
  padding 0
  position relative
  text-align center
  transition opacity .4s ease
  width 25px

  &:after
    background #fff
    bottom 0
    content ''
    display block
    position absolute
    right 0
    top 0
    width 2px

  &:hover
    opacity 0.5

  &.is-active
    opacity 0.75


/**
 * Square.
 */
.project-media-square
  display block
  bottom 0
  left 0
  overflow hidden
  position absolute
  right 0
  top 0
  z-index 1

.project-media-square-top,
.project-media-square-right,
.project-media-square-bottom,
.project-media-square-left
  background #fff
  position absolute

.project-media-square-top,
.project-media-square-bottom
  left 0
  height 1px
  width 100%

.project-media-square-right,
.project-media-square-left
  top 0
  height 100%
  width 1px

.project-media-square-top
  top 0
  transform translateX(100%)

.project-media-square-right
  right 0
  transform translateY(100%)

.project-media-square-bottom
  bottom 0
  transform translateX(-100%)

.project-media-square-left
  left 0
  transform translateY(-100%)


/**
 * Title.
 */
.project-title
  display block
  font-size 50px
  font-weight 100
  letter-spacing 7.5px
  margin-bottom 15px
  margin-top 0
  text-transform uppercase

  @media (max-width 1250px)
    font-size 35px

  @media (max-width 500px)
    font-size 25px
    letter-spacing 5.5px


/**
 * Description.
 */
.project-desc
  display block
  font-size 14px
  letter-spacing 2.1px
  line-height 25px
  margin 1em 0
  max-width 375px

  @media (max-width 1250px)
    font-size 12px
    letter-spacing 1.1px
    line-height 23px

  @media (max-width 1080px)
    max-width none

.project-desc-highlight
  font-weight 600


/**
 * Link.
 */
.project-link
  display inline-block
  font-size 14px
  letter-spacing 2px
  margin-top 50px
  padding-left 75px
  position relative
  text-transform uppercase

  @media (max-width 1080px)
    margin-top 0
    padding-left 0
    padding-top 50px

.project-link-dash
  background #fff
  content ''
  display block
  height 1px
  left 0
  position absolute
  top 50%
  width 60px

  @media (max-width 1080px)
    height 40px
    left 50%
    top 0
    width 1px
