svg.home-logo(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 80.2 40.6')
 path(fill='none' d='M11.8,40.1H0.5V0.5')
 path(fill='none' d='M17.5,0.5v39.6')
 path(fill='none' d='M28.8,0.5v39.6')
 path(fill='none' d='M34.4,0.5h2.8c4.7,0,8.5,3.8,8.5,8.5v0c0,4.7-3.8,8.5-8.5,8.5H11.8 h25.5c4.7,0,8.5,3.8,8.5,8.5v5.7c0,4.7-3.8,8.5-8.5,8.5h-2.8')
 path(fill='none' d='M62.7,28.8v11.3H51.4v-9c0-5.1,2-10,5.7-13.7l0,0 c3.6-3.6,5.7-8.5,5.7-13.7V0.5H51.4')
 path(fill='none' d='M68.4,0.5h2.8c4.7,0,8.5,3.8,8.5,8.5v0c0,4.7-3.8,8.5-8.5,8.5H48.7 h22.5c4.7,0,8.5,3.8,8.5,8.5v14.1')
