nav.home-menu
  ul.home-menu-list
    li.home-menu-item
      a.home-menu-btn.btn.btn-left.js-projects-open(href='#projects')
        +btn-bg-left
        span.btn-text Projects

    li.home-menu-item
      a.home-menu-btn.btn.btn-right.js-about-open(href='#about')
        +btn-bg-right
        span.btn-text About
