nav.home-menu
  ul.home-menu-list
    li.home-menu-item
      a.btn.btn-left.js-projects-open(href='#projects')
        span.btn-text Projects

        svg.btn-bg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 129.6 53.3')
          path(fill='none' d='M129.6,13.6c-38.7,0-77.3,0-116,0C9.2,9.2,4.8,4.8,0.4,0.4')
          path(fill='none' d='M0.4,52.9c4.4-4.4,8.8-8.8,13.3-13.3c38.7,0,77.3,0,116,0')

    li.home-menu-item
      a.btn.btn-right.js-about-open(href='#about')
        span.btn-text About

        svg.btn-bg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 129.6 53.3')
          path(fill='none' d='M129.3,0.4c-4.4,4.4-8.8,8.8-13.3,13.3c-38.7,0-77.3,0-116,0')
          path(fill='none' d='M0,39.7c38.7,0,77.3,0,116,0c4.4,4.4,8.8,8.8,13.3,13.3')
