nav.home-menu
  ul.home-menu-list
    li.home-menu-item
      a.home-menu-btn.btn.btn-left.js-projects-open(href='#projects')
        span.btn-text Projects

        svg.btn-bg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 129.6 53.3')
          path(fill='none' d='M129.6 13.6h-116L.4.4')
          path(fill='none' d='M.4 52.9l13.3-13.3h116')

    li.home-menu-item
      a.home-menu-btn.btn.btn-right.js-about-open(href='#about')
        span.btn-text About

        svg.btn-bg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 129.6 53.3')
          path(fill='none' d='M129.3.4L116 13.7H0')
          path(fill='none' d='M0 39.7h116L129.3 53')
