li.projects-item
  a.projects-link.js-project-open(href='#call-to-innovation')
    img.projects-img(src='dist/img/projects/call-to-innovation.jpg' alt='Call to Innovation' title='Thumbnail Call to Innovation')

    +projects-square
    +projects-info('Call to Innovation', 'Website')
