li.projects-item
  a.projects-link.js-project-open(href='#deform')
    img.projects-img(src='dist/img/projects/deform.jpg' alt='Deform' title='Thumbnail Deform')

    +projects-square
    +projects-info('Deform', 'Experiment')
