li.projects-item
  a.projects-link.js-project-open(href='#doki')
    img.projects-img(src='dist/img/projects/doki.jpg' alt='Doki' title='Thumbnail Doki')

    +projects-square
    +projects-info('Doki')
