li.projects-item
  a.projects-link.js-project-open(href='#fiap-mba')
    img.projects-img(src='dist/img/projects/fiap-mba.jpg' alt='FIAP MBA' title='Thumbnail FIAP MBA')

    +projects-square
    +projects-info('FIAP MBA')
