li.projects-item
  a.projects-link.js-project-open(href='#fiap-undergraduate')
    img.projects-img(src='dist/img/projects/fiap-undergraduate.jpg' alt='FIAP Undergraduate' title='Thumbnail FIAP Undergraduate')

    +projects-square
    +projects-info('FIAP Undergraduate', 'Website')
