li.projects-item
  a.projects-link.js-project-open(href='#ihelp')
    img.projects-img(src='dist/img/projects/ihelp.jpg' alt='iHelp' title='Thumbnail iHelp')

    +projects-square
    +projects-info('iHelp', 'Website')
