li.projects-item
  a.projects-link.js-project-open(href='#next')
    img.projects-img(src='dist/img/projects/next.jpg' alt='NEXT' title='Thumbnail NEXT')

    +projects-square
    +projects-info('NEXT', 'Website')
