li.projects-item
  a.projects-link.js-project-open(href='#rio-2016-countdown')
    img.projects-img(src='dist/img/projects/rio-2016-countdown.jpg' alt='Rio 2016 Countdown' title='Thumbnail Rio 2016 Countdown')

    +projects-square
    +projects-info('Rio 2016 Countdown', 'Website')
