li.projects-item
  a.projects-link.js-project-open(href='#shiyori')
    img.projects-img(src='dist/img/projects/shiyori.jpg' alt='Shiyori' title='Thumbnail Shiyori')

    +projects-square
    +projects-info('Shiyori', 'Theme')
