li.projects-item
  a.projects-link.js-project-open(href='#shift')
    img.projects-img(src='dist/img/projects/shift.jpg' alt='SHIFT' title='Thumbnail SHIFT')

    +projects-square
    +projects-info('SHIFT')
