li.projects-item
  a.projects-link.js-project-open(href='#triangles')
    img.projects-img(src='dist/img/projects/triangles.jpg' alt='Triangles' title='Thumbnail Triangles')

    +projects-square
    +projects-info('Triangles', 'Experiment')
