.project-item#app-marathon
  .project-item-left
    .project-media
      .project-media-list(scrollbar)
        .project-media-item.is-active
          img.project-img(src data-src="dist/img/screenshots/app-marathon-1.jpg" alt="App Marathon" title="Screenshot App Marathon")
        .project-media-item
          img.project-img(src data-src="dist/img/screenshots/app-marathon-2.jpg" alt="App Marathon" title="Screenshot App Marathon")
        .project-media-item
          img.project-img(src data-src="dist/img/screenshots/app-marathon-3.jpg" alt="App Marathon" title="Screenshot App Marathon")

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title App Marathon

    p.project-desc
      | A competition which groups of high school students are challenged to create an app for Android that can improve their lives as students, their school or their education.

    h3.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with HTML, CSS, JavaScript and GreenSock Animation Platform integrated with ASP.NET MVC.

    h3.project-desc.project-desc-highlight Role

    p.project-desc
      | Front End Developer at FIAP.

    a.project-link(href="http://www.maratonadeaplicativos.com.br/" target="_blank")
      span.project-link-dash
      span.project-link-text Access
