.project-item#app-marathon
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/app-marathon-1.jpg' alt='App Marathon' title='Screenshot App Marathon')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/app-marathon-2.jpg' alt='App Marathon' title='Screenshot App Marathon')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/app-marathon-3.jpg' alt='App Marathon' title='Screenshot App Marathon')

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title App Marathon

    p.project-desc.project-desc-highlight.
      Contest Website

    p.project-desc.
      My role in this project was the Front End Development
      using HTML (Razor), CSS (SASS), JavaScript (jQuery and GSAP),
      Task Runner (Grunt), Icon System (SVG) and ASP.NET MVC.

    a.project-link(href='http://www.maratonadeaplicativos.com.br/' target='_blank') Access
