.project-item#app-marathon
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/app-marathon-1.jpg' alt='App Marathon' title='Screenshot App Marathon')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/app-marathon-2.jpg' alt='App Marathon' title='Screenshot App Marathon')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/app-marathon-3.jpg' alt='App Marathon' title='Screenshot App Marathon')

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title App Marathon

    p.project-desc.project-desc-highlight
      | Website

    p.project-desc
      | Made with GreenSock Animation Platform.

    a.project-link(href='http://www.maratonadeaplicativos.com.br/' target='_blank')
      span.project-link-dash
      span.project-link-text Access
