.project-item#call-to-innovation
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/call-to-innovation.jpg' alt='Call to Innovation' title='Screenshot Call to Innovation')

      +project-square

  .project-item-right
    h2.project-title Call to Innovation

    p.project-desc
      | A challenge created by FIAP in partnership with Singularity University that proposes the use of technology to generate solutions to the humanity's greatest challenges.

    h3.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with HTML, CSS and JavaScript integrated with Wordpress.

    h3.project-desc.project-desc-highlight Role

    p.project-desc
      | Front End Developer at FIAP.

    a.project-link(href='https://www.fiap.com.br/calltoinnovation/' target='_blank')
      span.project-link-dash
      span.project-link-text Access
