.project-item#deform
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/deform.jpg' alt='Deform' title='Screenshot Deform')

      +project-square

  .project-item-right
    h2.project-title Deform

    p.project-desc.project-desc-highlight.
      Experiment

    p.project-desc.
      Interactive Music Video featuring Joy & Pain
      by Pallace.
    
    p.project-desc.
      Made with Babel, Browserify, Budo, Web Audio,
      Web Graphics Library and OpenGL Shading Language.

    a.project-link(href='/experiments/deform/' target='_blank') Access
