.project-item#fiap-mba
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/fiap-mba.jpg' alt='FIAP MBA' title='Screenshot FIAP MBA')

      +project-square

  .project-item-right
    h2.project-title FIAP MBA

    p.project-desc
      | -

    h3.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with HTML, CSS and JavaScript integrated with Wordpress.

    h3.project-desc.project-desc-highlight Role

    p.project-desc
      | Front End Developer at FIAP.

    a.project-link(href='https://www.fiap.com.br/mba/' target='_blank')
      span.project-link-dash
      span.project-link-text Access
