.project-item#fiap
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/fiap-1.jpg' alt='FIAP' title='Screenshot FIAP')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/fiap-2.jpg' alt='FIAP' title='Screenshot FIAP')

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title FIAP

    p.project-desc.project-desc-highlight.
      Website
    
    p.project-desc.
      FIAP is the center of excellence in
      technology most prized, prestigious and
      recognized throughout Brazil.

    a.project-link(href='https://www.fiap.com.br/' target='_blank') Access
