.project-item#ihelp
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/ihelp-1.jpg' alt='iHelp' title='Screenshot iHelp')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/ihelp-2.jpg' alt='iHelp' title='Screenshot iHelp')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/ihelp-3.jpg' alt='iHelp' title='Screenshot iHelp')

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title iHelp

    p.project-desc.project-desc-highlight.
      Website

    p.project-desc.
      iHelp is a social responsibility program
      organized by FIAP that aims to meet
      community needs through different
      initiatives.

    a.project-link(href='https://www.fiap.com.br/ihelp/' target='_blank') Access
