.project-item#naturally-bizarre
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/naturally-bizarre-1.jpg' alt='Naturally Bizarre' title='Screenshot Naturally Bizarre')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/naturally-bizarre-2.jpg' alt='Naturally Bizarre' title='Screenshot Naturally Bizarre')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/naturally-bizarre-3.jpg' alt='Naturally Bizarre' title='Screenshot Naturally Bizarre')

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title Naturally Bizarre

    p.project-desc.project-desc-highlight
      | Experiment

    p.project-desc
      | Made with Babel, Browserify, Browsersync, Canvas, Gulp and JavaScript.

    a.project-link(href='https://www.lhbzr.com/naturally-bizarre/' target='_blank')
      span.project-link-dash
      span.project-link-text Access
