.project-item#next
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/next-1.jpg' alt='NEXT' title='Screenshot NEXT')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/next-2.jpg' alt='NEXT' title='Screenshot NEXT')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/next-3.jpg' alt='NEXT' title='Screenshot NEXT')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/next-4.jpg' alt='NEXT' title='Screenshot NEXT')

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title NEXT

    p.project-desc.project-desc-highlight.
      Event Website

    p.project-desc.
      My role in this project was the Front End Development
      using HTML (Hand-Code), CSS (SASS), JavaScript (jQuery and GSAP),
      Task Runner (Grunt), Icon System (SVG) and Wordpress.

    a.project-link(href='https://www.fiap.com.br/next/' target='_blank') Access
