.project-item#particles
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/particles.jpg' alt='Particles' title='Screenshot Particles')
          
      +project-square

  .project-item-right
    h2.project-title Particles

    p.project-desc.project-desc-highlight.
      Experiment

    p.project-desc.
      Made with Babel, Browserify, Budo, Web Graphics
      Library, OpenGL Shading Language and Curl Noise.

    a.project-link(href='/experiments/particles/' target='_blank') Access
