.project-item#shift
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/shift-1.jpg' alt='SHIFT' title='Screenshot SHIFT')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/shift-2.jpg' alt='SHIFT' title='Screenshot SHIFT')

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title SHIFT

    p.project-desc.project-desc-highlight.
      Courses Website

    p.project-desc.
      My role in this project was the Front End Development
      using HTML (Razor), CSS (SASS), JavaScript (jQuery),
      Task Runner (Grunt), Icon System (SVG) and ASP.NET MVC.

    a.project-link(href='https://www.fiap.com.br/shift/' target='_blank') Access
