.project-item#shift
  .project-item-left
    .project-media
      .project-media-list(scrollbar)
        .project-media-item.is-active
          img.project-img(src data-src="dist/img/screenshots/shift-1.jpg" alt="SHIFT" title="Screenshot SHIFT")
        .project-media-item
          img.project-img(src data-src="dist/img/screenshots/shift-2.jpg" alt="SHIFT" title="Screenshot SHIFT")

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title SHIFT

    p.project-desc
      | -

    h3.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with HTML, CSS and JavaScript integrated with ASP.NET MVC.

    h3.project-desc.project-desc-highlight Role

    p.project-desc
      | Front End Developer at FIAP.

    a.project-link(href="https://www.fiap.com.br/shift/" target="_blank")
      span.project-link-dash
      span.project-link-text Access
