.project-item#shift
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/shift-1.jpg' alt='SHIFT' title='Screenshot SHIFT')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/shift-2.jpg' alt='SHIFT' title='Screenshot SHIFT')

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title SHIFT

    p.project-desc.project-desc-highlight.
      E-Commerce

    p.project-desc.
      Creative content with practical
      applications in the areas of technology,
      entrepreneurship, projects and innovation
      in short and medium term courses.

    a.project-link(href='https://www.fiap.com.br/shift/' target='_blank') Access
