.project-item#shiyori
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/shiyori.jpg' alt='Shiyori' title='Screenshot Shiyori')

      +project-square

  .project-item-right
    h2.project-title Shiyori

    p.project-desc.project-desc-highlight.
      Tumblr Theme
  
    p.project-desc.
      Shiyori is a responsive and multiple
      layout theme with many custom options
      to make your blog more interactive and
      lively.
      
    p.project-desc.
      It's available on Tumblr's Theme Garden
      and more than 6,000 users already use
      it on their blogs.

    a.project-link(href='https://shiyori-theme.tumblr.com/' target='_blank') Access
