.project-item#shiyori
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/shiyori.jpg' alt='Shiyori' title='Screenshot Shiyori')

      +project-square

  .project-item-right
    h2.project-title Shiyori

    p.project-desc.project-desc-highlight.
      Tumblr Theme

    p.project-desc.
      My role in this project was the Web Design and
      Front End Development using HTML (Hand-Code),
      CSS (SASS), JavaScript (jQuery), Task Runner (Grunt)
      and Icon System (SVG).

    a.project-link(href='https://shiyori-theme.tumblr.com/' target='_blank') Access
