.project-item#sphere
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/sphere.jpg' alt='Sphere' title='Screenshot Sphere')
          
      +project-square

  .project-item-right
    h2.project-title Sphere

    p.project-desc.project-desc-highlight.
      Experiment

    p.project-desc.
      Interactive Music Video featuring Fade
      (feat. Zak Waters) by Adventure Club.
    
    p.project-desc.
      Made with Babel, Browserify, Budo, Web Audio
      and Web Graphics Library.

    a.project-link(href='/experiments/sphere/' target='_blank') Access
