.project-item#triangles
  .project-item-left
    .project-media
      .project-media-list(scrollbar)
        .project-media-item.is-active
          img.project-img(src data-src="dist/img/screenshots/triangles-1.jpg" alt="Triangles" title="Screenshot Triangles")
        .project-media-item
          img.project-img(src data-src="dist/img/screenshots/triangles-2.jpg" alt="Triangles" title="Screenshot Triangles")

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title Triangles

    p.project-desc
      | Audio Visualization made with Three.js featuring Gold On The Ceiling by The Black Keys.

    p.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with JavaScript, OpenGL Shading Language, Web Audio and Web Graphics Library.

    a.project-link(href="/experiments/triangles/" target="_blank")
      span.project-link-dash
      span.project-link-text Access
