.project-item#triangles
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/triangles-1.jpg' alt='Triangles' title='Screenshot Triangles')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/triangles-2.jpg' alt='Triangles' title='Screenshot Triangles')

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title Triangles

    p.project-desc.project-desc-highlight.
      Experiment

    p.project-desc.
      Featuring Gold On The Ceiling by The Black Keys
      made with JavaScript, Web Graphics Library (Three.js),
      GLSL Shaders and Web Audio.

    a.project-link(href='/experiments/triangles/' target='_blank') Access
