.alert
  color #FFF
  font-size 13px
  font-weight 100
  letter-spacing 0.1em
  padding 0 10px
  position absolute
  text-align center
  top 15px
  width 100%
  z-index 100

  @media (max-width 1080px)
    display none

.alert-link
  text-decoration underline
