mixin logo-horizontal
  path(fill="none" d="M11.8,40.1H0.5V0.5")
  path(fill="none" d="M17.5,0.5v39.6")
  path(fill="none" d="M28.8,0.5v39.6")
  path(fill="none" d="M34.4,0.5h2.8c4.7,0,8.5,3.8,8.5,8.5v0c0,4.7-3.8,8.5-8.5,8.5H11.8 h25.5c4.7,0,8.5,3.8,8.5,8.5v5.7c0,4.7-3.8,8.5-8.5,8.5h-2.8")
  path(fill="none" d="M62.7,28.8v11.3H51.4v-9c0-5.1,2-10,5.7-13.7l0,0 c3.6-3.6,5.7-8.5,5.7-13.7V0.5H51.4")
  path(fill="none" d="M68.4,0.5h2.8c4.7,0,8.5,3.8,8.5,8.5v0c0,4.7-3.8,8.5-8.5,8.5H48.7 h22.5c4.7,0,8.5,3.8,8.5,8.5v14.1")


mixin logo-vertical
  path(fill="none" d="M40.106,68.396v11.316H0.5")
  path(fill="none" d="M0.5,62.737h39.606")
  path(fill="none" d="M0.5,51.422h39.606")
  path(fill="none" d="M0.5,45.765v-2.83c0-4.687,3.8-8.486,8.487-8.486 s8.487,3.8,8.487,8.486v25.461V42.935c0-4.687,3.8-8.486,8.487-8.486h5.658c4.687,0,8.486,3.8,8.486,8.486v2.83")
  path(fill="none" d="M28.791,17.475h11.315V28.79h-8.972 c-5.124,0-10.037-2.035-13.66-5.658s-8.536-5.657-13.66-5.657H0.5V28.79")
  path(fill="none" d="M0.5,11.816V8.987C0.5,4.3,4.3,0.5,8.987,0.5s8.487,3.8,8.487,8.487 v22.479V8.987c0-4.688,3.8-8.487,8.487-8.487h14.145")


mixin btn-bg-left
  svg.btn-bg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 129.6 53.3")
    path(fill="none" d="M129.6 13.6h-116L.4.4")
    path(fill="none" d="M.4 52.9l13.3-13.3h116")

mixin btn-bg-right
  svg.btn-bg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 129.6 53.3")
    path(fill="none" d="M129.3.4L116 13.7H0")
    path(fill="none" d="M0 39.7h116L129.3 53")


mixin about-menu-square
  span.about-menu-square
    span.about-menu-square-top
    span.about-menu-square-right
    span.about-menu-square-bottom
    span.about-menu-square-left

  span.about-menu-line


mixin projects-square
  .projects-square
    span.projects-square-top
    span.projects-square-right
    span.projects-square-bottom
    span.projects-square-left


mixin projects-info(title)
  .projects-info
    strong.projects-title=title

    span.projects-bg.projects-bg-white
    span.projects-bg.projects-bg-black


mixin project-square
  .project-media-square
    span.project-media-square-top
    span.project-media-square-right
    span.project-media-square-bottom
    span.project-media-square-left


mixin project-arrows
  .project-media-arrows
    button.project-media-btn.project-media-btn-prev Previous
    button.project-media-btn.project-media-btn-next Next
