/**
 * Links.
 */
.home-menu-link
  color #FFF
  display table-cell
  font 13px 'Inconsolata'
  height 53px
  line-height 52px
  letter-spacing 2px
  margin-top -16.5px
  position absolute
  stroke #FFF
  text-align center
  text-transform lowercase
  vertical-align middle
  width 130px

.home-menu-link-bg
  height 100%
  left 0
  position absolute
  top 0
  width 100%

.home-menu-link-projects
  left 20px
  padding-left 15px
  top 50%

.home-menu-link-about
  right 20px
  padding-right 15px
  top 50%
