section.about
  h1.about-title LHBZR

  p.about-desc.
    I'm <strong>Luis Henrique Bizarro</strong>,
    born in <strong>18 September, 1995</strong>
    based in <strong>São Paulo, Brazil</strong>.
    <br>
    <br>
    I'm a <strong>Front End Developer</strong>
    and a bachelor's degree student
    in <strong>Information Systems</strong> focusing in
    Creative Coding and Digital Experiences.
