section.about
  h1.about-title LHBZR

  .about-desc
    p.
      I'm #[strong Luis Henrique Bizarro],
      a 20 year old #[strong Front End Developer]
      and a bachelor's degree student in
      #[strong Information Systems] based
      in #[strong São Paulo, Brazil].
    
    p.
      I'm focusing in learning much
      more on #[strong Creative Coding]
      and #[strong Digital Experiences] with
      #[strong Web Graphics Library].
