nav.menu
  a.menu-link(href='http://www.dotcore.com.br/' target='_blank' data-text='Tumblr') Tumblr

  a.menu-link(href='http://www.linkedin.com/in/lhbzr/' target='_blank' data-text='LinkedIn') LinkedIn

  a.menu-link(href='http://www.github.com/lhbzr/' target='_blank' data-text='GitHub') GitHub

  a.menu-link(href='http://www.behance.net/lhbzr/' target='_blank' data-text='Behance') Behance

  a.menu-link(href='mailto:luis@dotcore.com.br' data-text='Contact') Contact
