nav.menu
  a.menu-link(href='http://www.dotcore.com.br/' target='_blank' data-text='Tumblr')
    svg.menu-icon(viewBox='0 0 512 512')
      use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-tumblr')
    
    span.menu-text Tumblr

  a.menu-link(href='http://www.linkedin.com/in/lhbzr/' target='_blank' data-text='LinkedIn')
    svg.menu-icon(viewBox='0 0 512 512')
      use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-linkedin')
    
    span.menu-text LinkedIn

  a.menu-link(href='http://www.github.com/lhbzr/' target='_blank' data-text='GitHub')
    svg.menu-icon(viewBox='0 0 512 512')
      use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-github')
    
    span.menu-text GitHub
  
  a.menu-link(href='http://www.twitter.com/lhbzr/' target='_blank' data-text='Twitter')
    svg.menu-icon(viewBox='0 0 512 512')
      use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-twitter')
    
    span.menu-text Twitter

  a.menu-link(href='http://www.behance.net/lhbzr/' target='_blank' data-text='Behance')
    svg.menu-icon(viewBox='0 0 512 512')
      use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-behance')
    
    span.menu-text Behance

  a.menu-link(href='mailto:luis@dotcore.com.br' data-text='Contact')
    svg.menu-icon(viewBox='0 0 512 512')
      use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-email')
    
    span.menu-text Contact
