.music
  a.music-soundcloud(href='https://soundcloud.com/' target='_blank')
    img(src='dist/img/logo/soundcloud.png')

  a.music-title(href='#' target='_blank') Music
  |  by 
  a.music-user(href='#' target='_blank') User

  .music-btns
    button.music-btn.music-prev
      svg.music-btn-icon(viewBox='0 0 48 48')
        use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#music-prev')

    button.music-btn.music-toggle
      svg.music-btn-icon.music-btn-icon-pause(viewBox='0 0 48 48')
        use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#music-pause')

      svg.music-btn-icon.music-btn-icon-play(viewBox='0 0 48 48')
        use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#music-play')

    button.music-btn.music-next
      svg.music-btn-icon(viewBox='0 0 48 48')
        use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#music-next')
