.projects
  .projects-label Projects
  
  ul.projects-list
    li.project
      a(href='https://www.fiap.com.br/' target='_blank').project-link
        img(src='dist/img/projects/fiap.jpg').project-img
        
    li.project
      a(href='https://www.fiap.com.br/shift/' target='_blank').project-link
        img(src='dist/img/projects/shift.jpg').project-img
        
    li.project
      a(href='http://www.mostra3mdeartedigital.com.br/2015/' target='_blank').project-link
        img(src='dist/img/projects/mostra-3m-de-arte-digital.jpg').project-img
        
    li.project
      a(href='https://www.fiap.com.br/next/' target='_blank').project-link
        img(src='dist/img/projects/next.jpg').project-img
              
    li.project
      a(href='http://www.maratonadeaplicativos.com.br/' target='_blank').project-link
        img(src='dist/img/projects/maratona-de-aplicativos.jpg').project-img
        
    li.project
      a(href='https://www.fiap.com.br/graduacao/' target='_blank').project-link
        img(src='dist/img/projects/graduacao.jpg').project-img
        
    li.project
      a(href='https://www.fiap.com.br/mba/' target='_blank').project-link
        img(src='dist/img/projects/mba.jpg').project-img
    
    li.project
      a(href='https://www.fiap.com.br/ihelp/' target='_blank').project-link
        img(src='dist/img/projects/ihelp.jpg').project-img
        
    li.project
      a(href='https://www.fiap.com.br/pronatec/' target='_blank').project-link
        img(src='dist/img/projects/pronatec.jpg').project-img

    li.project
      a(href='https://www.fiap.com.br/calltoinnovation/' target='_blank').project-link
        img(src='dist/img/projects/call-to-innovation.jpg').project-img
