.projects
  .projects-label Projects
  
  ul.projects-list
    li.project
      a(href='#' target='_blank').project-link
        img(src='dist/img/projects/coming-soon.jpg').project-img
        
    li.project
      a(href='#' target='_blank').project-link
        img(src='dist/img/projects/coming-soon.jpg').project-img
        
    li.project
      a(href='#' target='_blank').project-link
        img(src='dist/img/projects/coming-soon.jpg').project-img
        
    li.project
      a(href='#' target='_blank').project-link
        img(src='dist/img/projects/coming-soon.jpg').project-img

    li.project
      a(href='#' target='_blank').project-link
        img(src='dist/img/projects/coming-soon.jpg').project-img
        
    li.project
      a(href='#' target='_blank').project-link
        img(src='dist/img/projects/coming-soon.jpg').project-img
        
    li.project
      a(href='#' target='_blank').project-link
        img(src='dist/img/projects/coming-soon.jpg').project-img
        
    li.project
      a(href='#' target='_blank').project-link
        img(src='dist/img/projects/coming-soon.jpg').project-img
