.share
  h1.share-title Share

  ul.share-list
    li.share-item
      a.share-link(href='https://www.facebook.com/sharer.php?u=http://lhbzr.com/&t=LHBZR' target='_blank')
        svg.share-icon(viewBox='0 0 512 512')
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#share-facebook')

    li.share-item
      a.share-link(href='https://twitter.com/share?url=http://lhbzr.com/&text=LHBZR' target='_blank')
        svg.share-icon(viewBox='0 0 512 512')
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#share-twitter')

    li.share-item
      a.share-link(href='https://plus.google.com/share?url=http://lhbzr.com/' target='_blank')
        svg.share-icon(viewBox='0 0 512 512')
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#share-google')

    li.share-item
      a.share-link(href='https://www.linkedin.com/shareArticle?mini=true&url=http://lhbzr.com/&title=LHBZR' target='_blank')
        svg.share-icon(viewBox='0 0 512 512')
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#share-linkedin')

    li.share-item
      a.share-link(href='https://www.tumblr.com/share/link?url=http://lhbzr.com/' target='_blank')
        svg.share-icon(viewBox='0 0 512 512')
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#share-tumblr')
