/**
 * Wrapper.
 */
.project-item
  display table
  height 100vh
  left 0
  opacity 0
  padding 0 15%
  position absolute
  top 0
  visibility hidden
  width 100%

  &.is-active
    visibility visible


/**
 * Columns.
 */
.project-item-left,
.project-item-right
  display table-cell
  vertical-align middle

.project-item-left
  text-align center
  width 60%

.project-item-right
  padding-left 5%
  text-align left
  width 40%


/**
 * Media.
 */
.project-media
  position relative

.project-media-list
  display inline-block
  height auto
  margin-bottom 1px
  max-height 50vh
  overflow-y scroll
  overflow-x hidden
  position relative
  vertical-align middle
  width 100%
  z-index 2

  &::-webkit-scrollbar
    width 3px

  &::-webkit-scrollbar-track
    background #000

  &::-webkit-scrollbar-thumb
    background #FFF

.project-media-item
  display none

  &.is-active
    display block

.project-img
  display block
  height auto
  width 100%


/**
 * Navegação.
 */
.project-media-btn
  cursor pointer
  display block
  font-size 0
  height 50px
  left 50%
  position absolute
  transform translateX(-50%)
  width 50px

  &:after
    border-color #FFF
    border-style solid
    content ''
    display block
    left 50%
    height 15px
    margin-left -2px
    position absolute
    transform rotate(45deg) translateX(-50%)
    width 15px

.project-media-btn-prev
  top -75px

  &:after
    border-width 1px 0 0 1px
    top 28px

.project-media-btn-next
  bottom -75px

  &:after
    border-width 0 1px 1px 0
    top 18px


/**
 * Square.
 */
.project-media-square
  display block
  bottom -1px
  left -1px
  overflow hidden
  position absolute
  right -1px
  top -1px
  z-index 1

.project-media-square-top,
.project-media-square-right,
.project-media-square-bottom,
.project-media-square-left
  background #FFF
  position absolute

.project-media-square-top,
.project-media-square-bottom
  left 0
  height 1px
  width 100%

.project-media-square-right,
.project-media-square-left
  top 0
  height 100%
  width 1px

.project-media-square-top
  top 0
  transform translateX(100%)

.project-media-square-right
  right 0
  transform translateY(100%)

.project-media-square-bottom
  bottom 0
  transform translateX(-100%)

.project-media-square-left
  left 0
  transform translateY(-100%)


/**
 * Info.
 */
.project-title
  display block
  font-size 50px
  font-weight 100
  letter-spacing 7.5px
  margin-bottom 15px
  margin-top 0
  text-transform uppercase

.project-desc
  display block
  font-size 14px
  letter-spacing 2.1px
  line-height 25px
  margin 1em 0
  max-width 375px

.project-desc-highlight
  font-weight 600

.project-link
  display inline-block
  font-size 14px
  letter-spacing 2px
  margin-top 80px
  padding-left 75px
  position relative
  text-transform uppercase

  &:after
    background #FFF
    content ''
    display block
    height 1px
    left 0
    position absolute
    top 50%
    width 60px
