/**
 * Project.
 */
.project
  background rgba(0, 0, 0, .8)
  display table
  height 100%
  left 0
  opacity 0
  position absolute
  top 0
  visibility hidden
  width 100%
  z-index 3

.project-wrapper
  color #FFF
  display table-cell
  text-align center
  vertical-align middle

.project-logo
  height 130px
  left 0
  position absolute
  stroke #FFF
  top 50%
  transform translateY(-50%)
  visibility hidden
  width 10%
