/**
 * Wrapper.
 */
.project-item
  display table
  height 100vh
  left 0
  opacity 0
  padding 0 15%
  position absolute
  top 0
  visibility hidden
  width 100%


/**
 * Columns.
 */
.project-item-left,
.project-item-right
  display table-cell
  text-align left
  vertical-align middle

.project-item-left
  width 60%

.project-item-right
  padding-left 5%
  width 40%


/**
 * Media.
 */
.project-media
  position relative

.project-media-list
  border 1px solid #FFF
  display inline-block
  height auto
  max-height 55vh
  overflow-y scroll
  overflow-x hidden
  vertical-align middle
  width 100%

  &::-webkit-scrollbar
    width 3px

  &::-webkit-scrollbar-track
    background #000

  &::-webkit-scrollbar-thumb
    background #FFF

.project-media-item
  overflow hidden
  height 0

  &.is-active
    height auto

.project-img
  display block
  height auto
  width 100%

.project-media-btn
  cursor pointer
  display block
  font-size 0
  height 50px
  left 50%
  position absolute
  transform translateX(-50%)
  width 50px

  &:after
    border-color #FFF
    border-style solid
    content ''
    display block
    left 50%
    height 15px
    margin-left -2px
    position absolute
    transform rotate(45deg) translateX(-50%)
    width 15px

.project-media-btn-prev
  top -75px

  &:after
    border-width 1px 0 0 1px
    top 28px

.project-media-btn-next
  bottom -75px

  &:after
    border-width 0 1px 1px 0
    top 18px

/**
 * Info.
 */
.project-title
  display block
  font-size 50px
  font-weight 100
  letter-spacing 7.5px
  margin-bottom 15px
  margin-top 0
  text-transform uppercase

.project-desc
  font-size 14px
  letter-spacing 2.1px
  line-height 25px
  margin-bottom 80px

.project-link
  display inline-block
  font-size 14px
  letter-spacing 2px
  padding-left 75px
  position relative
  text-transform uppercase

  &:after
    background #FFF
    content ''
    display block
    height 1px
    left 0
    position absolute
    top 50%
    width 60px
