.project-logo
  height 130px
  left 0
  position absolute
  stroke #FFF
  top 50%
  transform translateY(-50%)
  visibility hidden
  width 10%

  @media (max-width: 1080px)
    margin-bottom 50px
    position static
    transform translateY(0)
    visibility visible
    width 130px
