a.about-btn.btn.btn-left.js-about-close(href='#home')
  span.btn-text Close

  svg.btn-bg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 129.6 53.3')
    path(fill='none' d='M129.6 13.6h-116L.4.4')
    path(fill='none' d='M.4 52.9l13.3-13.3h116')
