a.about-btn.btn.btn-left.js-about-close(href='#home')
  span.btn-text Close

  svg.btn-bg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 129.6 53.3')
    path(fill='none' d='M129.6,13.6c-38.7,0-77.3,0-116,0C9.2,9.2,4.8,4.8,0.4,0.4')
    path(fill='none' d='M0.4,52.9c4.4-4.4,8.8-8.8,13.3-13.3c38.7,0,77.3,0,116,0')
