.about-info
  svg.about-logo(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 40.606 80.212')
    +logo-vertical

  h1.about-title Hello, I’m Luis Henrique Bizarro.

  p.about-desc.
    I'm 20 and at the moment I'm a Front End Developer
    and a bachelor's degree student in Information Systems
    based in São Paulo, Brazil.

  p.about-desc.
    I'm focusing in Creative Coding, Interactive Installations and Digital Campaigns
    using technologies such as JavaScript (ES6/ES7), Canvas, Web Graphics Library (Three.js/Pixi.js),
    OpenGL Shading Language, Web Audio, openFrameworks, Cinder and Processing.
