.about-info
  svg.about-logo(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 40.606 80.212")
    +logo-vertical

  h1.about-title Hello, I’m Luis Henrique Bizarro.

  p.about-desc.
    I’m a 20 year old Front End Developer and a bachelor’s degree
    student in Information Systems based in São Paulo, Brazil.

  p.about-desc.
    I’m focusing in Creative Coding, Interactive Installations, Digital Campaigns
    and Games using technologies such as JavaScript, Canvas, Web Graphics Library,
    OpenGL Shading Language, Web Audio, openFrameworks, Cinder, Processing and VVVV.
