a.about-credits(href='http://www.richardrodrigues.com.br/' target='_blank')
  svg.about-credits-icon(viewbox='0 0 300 300')
    use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#r-r')
  br
  | Designed by my friend.
