.about-info
  display inline-block
  max-width 765px
  text-align left

  @media (max-width: 1080px)
    max-width none
    text-align center

.about-title
  font-weight 100
  font-size 35px
  letter-spacing 5.25px
  line-height 35px

  @media (max-width: 1080px)
    font-size 25px
    letter-spacing 3.25px

.about-title-highlight
  border-bottom 2px solid #FFF
  display inline-block
  padding-bottom 7px

.about-desc
  font-size 17px
  letter-spacing 2.5px
  line-height 30px
  margin 20px 0

  @media (max-width: 1080px)
    font-size 14px
    line-height 27px
