/**
 * About.
 */
.about
  background rgba(0, 0, 0, .8)
  display table
  height 100%
  left 0
  opacity 0
  position absolute
  top 0
  width 100%
  visibility hidden
  z-index 2

.about-wrapper
  color #FFF
  display table-cell
  text-align center
  vertical-align middle
