/**
 * Info.
 */
.about-info
  display inline-block
  text-align left

.about-logo
  height 130px
  left 50%
  position absolute
  stroke #FFF
  transform translateX(-50%)
  top 93px
  width 130px
  visibility hidden

.about-title
  font-weight 100
  font-size 35px
  letter-spacing: 5.25px

.about-title-highlight
  border-bottom 2px solid #FFF
  display inline-block
  padding-bottom 7px

.about-desc
  font-size 17px
  letter-spacing 2.5px
  line-height 30px
  margin 20px 0
