.about-logo
  height 130px
  left 50%
  position absolute
  stroke #FFF
  transform translateX(-50%)
  top 93px
  width 130px
  visibility hidden

  @media (max-width: 1080px)
    margin-bottom 50px
    position static
    transform translateX(0)
    visibility visible
