/**
 * Menu.
 */
.about-menu
  position absolute
  right 20px
  top 50%
  transform translateY(-50%)

.about-menu-list
  margin 0
  padding 0

.about-menu-item
  display block
  margin 10px 0

.about-menu-link
  display block
  fill #FFF
  height 50px
  line-height 50px
  position relative
  text-align center
  width 50px

.about-menu-icon
  display inline-block
  margin-top -2px
  vertical-align middle

.about-menu-text
  letter-spacing 1.5px
  margin-right 60px
  position absolute
  right 100%
  top 50%
  transform translateY(-50%)


/**
 * Square.
 */
.about-menu-square
  display block
  bottom 0
  left 0
  overflow hidden
  position absolute
  right 0
  top 0

.about-menu-square-top,
.about-menu-square-right,
.about-menu-square-bottom,
.about-menu-square-left
  background #FFF
  position absolute

.about-menu-square-top,
.about-menu-square-bottom
  left 0
  height 1px
  width 100%

.about-menu-square-right,
.about-menu-square-left
  top 0
  height 100%
  width 1px

.about-menu-square-top
  top 0

.about-menu-square-right
  right 0

.about-menu-square-bottom
  bottom 0

.about-menu-square-left
  left 0

.about-menu-line
  background #FFF
  height 1px
  position absolute
  right 100%
  top 50%
  width 50px
