@import 'base/_reset'

@import 'plugins/_smooth-scrollbar'

@import 'components/_alert'
@import 'components/_buttons'

@import 'layout/_about'
@import 'layout/_canvas'
@import 'layout/_content'
@import 'layout/_home'
@import 'layout/_logo'
@import 'layout/_music'
@import 'layout/_project'
@import 'layout/_projects'
