section.about#about
  .about-wrapper
    .about-content
      .about-info
        svg.about-logo(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 40.606 80.212")
          +logo-vertical

        h1.about-title Hello, I’m Luis Henrique Bizarro.

        p.about-desc.
          I’m a 21 years old Front End Developer and a bachelor’s degree
          student in Information Systems based in São Paulo, Brazil.

        p.about-desc.
          I'm focusing my career in Creative Coding using technologies such as
          JavaScript, Web Graphics Library, Canvas, OpenGL Shading Language,
          openFrameworks, Cinder and Processing.

      .about-menu
        ul.about-menu-list
          li.about-menu-item
            a.about-menu-link(href="http://www.linkedin.com/in/lhbzr/" target="_blank")
              svg.about-menu-icon(viewbox="0 0 48.331 46.196" height="20" width="21")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin")

              +about-menu-square
              span.about-menu-text LinkedIn

          li.about-menu-item
            a.about-menu-link(href="http://www.github.com/lhbzr/" target="_blank")
              svg.about-menu-icon(viewbox="0 0 45.335 51.972" height="23" width="20")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github")

              +about-menu-square
              span.about-menu-text GitHub

          li.about-menu-item
            a.about-menu-link(href="mailto:hello@lhbzr.com")
              svg.about-menu-icon(viewbox="0 0 47.192 34.182" height="16" width="21")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email")

              +about-menu-square
              span.about-menu-text Email

          li.about-menu-item
            a.about-menu-link(href="http://www.twitter.com/lhbzr/" target="_blank")
              svg.about-menu-icon(viewbox="0 0 51.572 43.039" height="19" width="23")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter")

              +about-menu-square
              span.about-menu-text Twitter

          li.about-menu-item
            a.about-menu-link(href="http://www.richardrodrigues.com.br/" target="_blank")
              svg.about-menu-icon(viewbox="0 0 300 300" height="23" width="23")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#r-r")

              +about-menu-square
              span.about-menu-text Design

      a.about-btn.btn.btn-left.js-about-close(href="#home")
        +btn-bg-left
        span.btn-text Close
