svg.logo(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 80.212 80.212')
  g#logo-vertical
    path(fill='none' d='M59.909,68.396v11.316H20.303')
    path(fill='none' d='M20.303,62.737h39.605')
    path(fill='none' d='M20.303,51.422h39.605')
    path(fill='none' d='M20.303,45.765v-2.83c0-4.687,3.8-8.486,8.487-8.486 s8.487,3.8,8.487,8.486v25.461V42.935c0-4.687,3.799-8.486,8.487-8.486h5.658c4.687,0,8.486,3.8,8.486,8.486v2.83')
    path(fill='none' d='M48.593,17.475h11.315V28.79h-8.972 c-5.124,0-10.037-2.035-13.66-5.658c-3.623-3.623-8.536-5.657-13.66-5.657h-3.314V28.79')
    path(fill='none' d='M20.303,11.816V8.987c0-4.688,3.8-8.487,8.487-8.487 s8.487,3.8,8.487,8.487v22.479V8.987c0-4.688,3.799-8.487,8.487-8.487h14.145')

  g#logo-horizontal
    path(fill='none' d='M11.816,59.909H0.5V20.303')
    path(fill='none' d='M17.474,20.303v39.606')
    path(fill='none' d='M28.79,20.303v39.606')
    path(fill='none' d='M34.448,20.303h2.829c4.688,0,8.487,3.8,8.487,8.487 s-3.8,8.487-8.487,8.487H11.816h25.461c4.688,0,8.487,3.8,8.487,8.487v5.658c0,4.687-3.8,8.486-8.487,8.486h-2.829')
    path(fill='none' d='M62.738,48.594v11.315H51.422v-8.972 c0-5.124,2.035-10.037,5.658-13.66s5.657-8.536,5.657-13.66v-3.314H51.422')
    path(fill='none' d='M68.396,20.303h2.829c4.688,0,8.487,3.8,8.487,8.487 s-3.8,8.487-8.487,8.487H48.747h22.479c4.688,0,8.487,3.8,8.487,8.487v14.145')
