section.projects#projects
  ul.projects-list
    li.projects-item
      a.projects-link.js-project-open(href='#fiap')
        img.projects-img(src='dist/img/projects/fiap.jpg' alt='FIAP' title='Thumbnail FIAP')
        
        .projects-square
          span.projects-square-top
          span.projects-square-right
          span.projects-square-bottom
          span.projects-square-left
        
        .projects-info
          strong.projects-title FIAP
            span.projects-title-hover FIAP
            span.projects-title-bg

          span.projects-tag Website
          
          
          
    li.projects-item
      a.projects-link.js-project-open(href='#shift')
        img.projects-img(src='dist/img/projects/shift.jpg' alt='SHIFT' title='Thumbnail SHIFT')
        
        .projects-square
          span.projects-square-top
          span.projects-square-right
          span.projects-square-bottom
          span.projects-square-left
        
        .projects-info
          strong.projects-title SHIFT
            span.projects-title-hover SHIFT
            span.projects-title-bg

          span.projects-tag Website
          
          
          
    li.projects-item
      a.projects-link.js-project-open(href='#next')
        img.projects-img(src='dist/img/projects/next.jpg' alt='NEXT' title='Thumbnail NEXT')
        
        .projects-square
          span.projects-square-top
          span.projects-square-right
          span.projects-square-bottom
          span.projects-square-left
        
        .projects-info
          strong.projects-title NEXT
            span.projects-title-hover NEXT
            span.projects-title-bg

          span.projects-tag Website
          
          
          
    li.projects-item
      a.projects-link.js-project-open(href='#3m-digital-art-exhibition')
        img.projects-img(src='dist/img/projects/3m-digital-art-exhibition.jpg' alt='3M Digital Art Exhibition' title='Thumbnail 3M Digital Art Exhibition')
        
        .projects-square
          span.projects-square-top
          span.projects-square-right
          span.projects-square-bottom
          span.projects-square-left
        
        .projects-info
          strong.projects-title 3M Digital Art
            span.projects-title-hover 3M Digital Art
            span.projects-title-bg

          span.projects-tag Website
          
          
          
    li.projects-item
      a.projects-link.js-project-open(href='#app-marathon')
        img.projects-img(src='dist/img/projects/app-marathon.jpg' alt='App Marathon' title='Thumbnail App Marathon')
        
        .projects-square
          span.projects-square-top
          span.projects-square-right
          span.projects-square-bottom
          span.projects-square-left
        
        .projects-info
          strong.projects-title App Marathon
            span.projects-title-hover App Marathon
            span.projects-title-bg

          span.projects-tag Website
          
          
    li.projects-item
      a.projects-link.js-project-open(href='#fiap-undergraduate')
        img.projects-img(src='dist/img/projects/fiap-undergraduate.jpg' alt='FIAP Undergraduate' title='Thumbnail FIAP Undergraduate')
        
        .projects-square
          span.projects-square-top
          span.projects-square-right
          span.projects-square-bottom
          span.projects-square-left
        
        .projects-info
          strong.projects-title FIAP Undergraduate
            span.projects-title-hover FIAP Undergraduate
            span.projects-title-bg

          span.projects-tag Website
          

    li.projects-item
      a.projects-link.js-project-open(href='#ihelp')
        img.projects-img(src='dist/img/projects/ihelp.jpg' alt='iHelp' title='Thumbnail iHelp')
        
        .projects-square
          span.projects-square-top
          span.projects-square-right
          span.projects-square-bottom
          span.projects-square-left
        
        .projects-info
          strong.projects-title iHelp
            span.projects-title-hover iHelp
            span.projects-title-bg

          span.projects-tag Website
          
          
          
    li.projects-item
      a.projects-link.js-project-open(href='#call-to-innovation')
        img.projects-img(src='dist/img/projects/call-to-innovation.jpg' alt='Call to Innovation' title='Thumbnail Call to Innovation')
        
        .projects-square
          span.projects-square-top
          span.projects-square-right
          span.projects-square-bottom
          span.projects-square-left
        
        .projects-info
          strong.projects-title Call to Innovation
            span.projects-title-hover Call to Innovation
            span.projects-title-bg

          span.projects-tag Website
          
          
          
    li.projects-item
      a.projects-link.js-project-open(href='#shiyori')
        img.projects-img(src='dist/img/projects/shiyori.jpg' alt='Shiyori' title='Thumbnail Shiyori')
        
        .projects-square
          span.projects-square-top
          span.projects-square-right
          span.projects-square-bottom
          span.projects-square-left
        
        .projects-info
          strong.projects-title Shiyori
            span.projects-title-hover Shiyori
            span.projects-title-bg

          span.projects-tag Theme



    li.projects-item
      a.projects-link.js-project-open(href='#deform')
        img.projects-img(src='dist/img/projects/deform.jpg' alt='Deform' title='Thumbnail Deform')
        
        .projects-square
          span.projects-square-top
          span.projects-square-right
          span.projects-square-bottom
          span.projects-square-left
        
        .projects-info
          strong.projects-title Deform
            span.projects-title-hover Deform
            span.projects-title-bg

          span.projects-tag Experiment
          
        

    li.projects-item
      a.projects-link.js-project-open(href='#triangles')
        img.projects-img(src='dist/img/projects/triangles.jpg' alt='Triangles' title='Thumbnail Triangles')
        
        .projects-square
          span.projects-square-top
          span.projects-square-right
          span.projects-square-bottom
          span.projects-square-left
        
        .projects-info
          strong.projects-title Triangles
            span.projects-title-hover Triangles
            span.projects-title-bg

          span.projects-tag Experiment



    li.projects-item
      a.projects-link.js-project-open(href='#sphere')
        img.projects-img(src='dist/img/projects/sphere.jpg' alt='Sphere' title='Thumbnail Sphere')
        
        .projects-square
          span.projects-square-top
          span.projects-square-right
          span.projects-square-bottom
          span.projects-square-left
        
        .projects-info
          strong.projects-title Sphere
            span.projects-title-hover Sphere
            span.projects-title-bg

          span.projects-tag Experiment
