section.projects#projects
  ul.projects-list
    li.projects-item
      a.projects-link.js-project-open(href='#naturally-bizarre')
        img.projects-img(src='dist/img/projects/naturally-bizarre.jpg' alt='Naturally Bizarre' title='Thumbnail Naturally Bizarre')

        +projects-square
        +projects-info('Naturally Bizarre', 'Experiment')
  
    li.projects-item
      a.projects-link.js-project-open(href='#fiap')
        img.projects-img(src='dist/img/projects/fiap.jpg' alt='FIAP' title='Thumbnail FIAP')

        +projects-square
        +projects-info('FIAP', 'Website')

    li.projects-item
      a.projects-link.js-project-open(href='#shift')
        img.projects-img(src='dist/img/projects/shift.jpg' alt='SHIFT' title='Thumbnail SHIFT')

        +projects-square
        +projects-info('SHIFT', 'E-Commerce')

    li.projects-item
      a.projects-link.js-project-open(href='#next')
        img.projects-img(src='dist/img/projects/next.jpg' alt='NEXT' title='Thumbnail NEXT')

        +projects-square
        +projects-info('NEXT', 'Website')

    li.projects-item
      a.projects-link.js-project-open(href='#3m-digital-art-exhibition')
        img.projects-img(src='dist/img/projects/3m-digital-art-exhibition.jpg' alt='3M Digital Art Exhibition' title='Thumbnail 3M Digital Art Exhibition')

        +projects-square
        +projects-info('3M Digital Art', 'Website')

    li.projects-item
      a.projects-link.js-project-open(href='#app-marathon')
        img.projects-img(src='dist/img/projects/app-marathon.jpg' alt='App Marathon' title='Thumbnail App Marathon')

        +projects-square
        +projects-info('App Marathon', 'Website')

    li.projects-item
      a.projects-link.js-project-open(href='#fiap-undergraduate')
        img.projects-img(src='dist/img/projects/fiap-undergraduate.jpg' alt='FIAP Undergraduate' title='Thumbnail FIAP Undergraduate')

        +projects-square
        +projects-info('FIAP Undergraduate', 'Website')

    li.projects-item
      a.projects-link.js-project-open(href='#ihelp')
        img.projects-img(src='dist/img/projects/ihelp.jpg' alt='iHelp' title='Thumbnail iHelp')

        +projects-square
        +projects-info('iHelp', 'Website')

    li.projects-item
      a.projects-link.js-project-open(href='#call-to-innovation')
        img.projects-img(src='dist/img/projects/call-to-innovation.jpg' alt='Call to Innovation' title='Thumbnail Call to Innovation')

        +projects-square
        +projects-info('Call to Innovation', 'Website')

    li.projects-item
      a.projects-link.js-project-open(href='#shiyori')
        img.projects-img(src='dist/img/projects/shiyori.jpg' alt='Shiyori' title='Thumbnail Shiyori')

        +projects-square
        +projects-info('Shiyori', 'Theme')

    li.projects-item
      a.projects-link.js-project-open(href='#particles')
        img.projects-img(src='dist/img/projects/particles.jpg' alt='Particles' title='Thumbnail Particles')

        +projects-square
        +projects-info('Particles', 'Experiment')

    li.projects-item
      a.projects-link.js-project-open(href='#deform')
        img.projects-img(src='dist/img/projects/deform.jpg' alt='Deform' title='Thumbnail Deform')

        +projects-square
        +projects-info('Deform', 'Experiment')

    li.projects-item
      a.projects-link.js-project-open(href='#triangles')
        img.projects-img(src='dist/img/projects/triangles.jpg' alt='Triangles' title='Thumbnail Triangles')

        +projects-square
        +projects-info('Triangles', 'Experiment')

    li.projects-item
      a.projects-link.js-project-open(href='#sphere')
        img.projects-img(src='dist/img/projects/sphere.jpg' alt='Sphere' title='Thumbnail Sphere')

        +projects-square
        +projects-info('Sphere', 'Experiment')
