section.projects#projects(scrollbar)
  .projects-wrapper
    .projects-content
      ul.projects-list
        include ./projects/_next
        include ./projects/_fiap-undergraduate
        include ./projects/_doki
        include ./projects/_rio-2016-countdown
        include ./projects/_naturally-bizarre
        include ./projects/_fiap
        include ./projects/_particles
        include ./projects/_triangles
        include ./projects/_3m-digital-art-exhibition
        include ./projects/_app-marathon
        include ./projects/_call-to-innovation
