@import 'base/_reset'

@import 'components/_alert'
@import 'components/_buttons'

@import 'layout/_content'
@import 'layout/_canvas'
@import 'layout/_logo'
@import 'layout/_music'
@import 'layout/_projects'

@import 'layout/home/_container'

@import 'layout/about/_close'
@import 'layout/about/_container'
@import 'layout/about/_content'
@import 'layout/about/_logo'
@import 'layout/about/_menu'

@import 'layout/project/_close'
@import 'layout/project/_container'
@import 'layout/project/_content'
@import 'layout/project/_logo'
