@import 'base/_reset'

@import 'components/_buttons'

@import 'layout/_canvas'

@import 'layout/_logo'

@import 'layout/_music'

@import 'layout/_projects'

@import 'layout/home/_container'
@import 'layout/home/_menu'

@import 'layout/about/_container'
@import 'layout/about/_menu'
@import 'layout/about/_content'

@import 'layout/project/_container'
@import 'layout/project/_content'
