li.projects-item
  a.projects-link.js-project-open(href="#3m-digital-art-exhibition")
    img.projects-img(src="dist/img/projects/3m-digital-art-exhibition.jpg" alt="3M Digital Art Exhibition" title="Thumbnail 3M Digital Art Exhibition")

    +projects-square
    +projects-info("3M Digital Art")
