ul.projects-list
  include ./list/_naturally-bizarre
  include ./list/_fiap
  include ./list/_shift
  include ./list/_next
  include ./list/_3m-digital-art-exhibition
  include ./list/_app-marathon
  include ./list/_fiap-undergraduate
  include ./list/_ihelp
  include ./list/_call-to-innovation
  include ./list/_shiyori
  include ./list/_particles
  include ./list/_deform
  include ./list/_triangles
  include ./list/_sphere
