.project-item#doki
  .project-item-left
    .project-media
      .project-media-list(scrollbar)
        .project-media-item.is-active
          img.project-media-img(data-src="images/screenshots/doki-1.jpg" alt="Doki" title="Screenshot Doki")
        .project-media-item
          img.project-media-img(data-src="images/screenshots/doki-2.jpg" alt="Doki" title="Screenshot Doki")
        .project-media-item
          img.project-media-img(data-src="images/screenshots/doki-3.jpg" alt="Doki" title="Screenshot Doki")
        .project-media-item
          img.project-media-img(data-src="images/screenshots/doki-4.jpg" alt="Doki" title="Screenshot Doki")
        .project-media-item
          img.project-media-img(data-src="images/screenshots/doki-5.jpg" alt="Doki" title="Screenshot Doki")

      +project-square

  .project-item-right
    h2.project-title Doki

    p.project-desc
      | Travel around the world and face the unknown with Doki and his friends in Children's Play Around The World.

    h3.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with JavaScript and Phaser.
      
    h3.project-desc.project-desc-highlight Role

    p.project-desc
      | Game Developer for Royalpixel.

    a.project-link(href="http://jogos.discoverykids.uol.com.br/shared_content/custom-games/games/portugues/as-brincadeiras-pelo-mundo/game/" target="_blank")
      span.project-link-dash
      span.project-link-text Access
