.project-item#fiap
  .project-item-left
    .project-media
      .project-media-list(scrollbar)
        .project-media-item.is-active
          img.project-media-img(data-src="images/screenshots/fiap-1.jpg" alt="FIAP" title="Screenshot FIAP")
        .project-media-item
          img.project-media-img(data-src="images/screenshots/fiap-2.jpg" alt="FIAP" title="Screenshot FIAP")
        .project-media-item
          img.project-media-img(data-src="images/screenshots/fiap-3.jpg" alt="FIAP" title="Screenshot FIAP")
        .project-media-item
          img.project-media-img(data-src="images/screenshots/fiap-4.jpg" alt="FIAP" title="Screenshot FIAP")
        .project-media-item
          img.project-media-img(data-src="images/screenshots/fiap-5.jpg" alt="FIAP" title="Screenshot FIAP")

      +project-square

  .project-item-right
    h2.project-title FIAP

    p.project-desc
      | FIAP is the center of excellence in technology most respected in Brazil.

    h3.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with HTML, CSS, JavaScript and GreenSock Animation Platform integrated with Wordpress.

    h3.project-desc.project-desc-highlight Role

    p.project-desc
      | Front End Developer for FIAP.

    a.project-link(href="https://www.fiap.com.br/" target="_blank")
      span.project-link-dash
      span.project-link-text Enter
