.project-item#fiap-undergraduate
  .project-item-left
    .project-media
      .project-media-list(scrollbar)
        .project-media-item.is-active
          img.project-media-img(data-src="images/screenshots/fiap-undergraduate.jpg" alt="FIAP" title="Screenshot FIAP Undergraduate")

      +project-square

  .project-item-right
    h2.project-title FIAP Undergraduate

    p.project-desc
      | 13 undergraduate degrees awarded in the areas of innovation, technology and entrepreneurship.

    h3.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with HTML, CSS, JavaScript and GreenSock Animation Platform integrated with Wordpress.

    h3.project-desc.project-desc-highlight Role

    p.project-desc
      | Front End Developer for FIAP.

    a.project-link(href="https://www.fiap.com.br/graduacao/" target="_blank")
      span.project-link-dash
      span.project-link-text Access
