.project-item#particles
  .project-item-left
    .project-media
      .project-media-list(scrollbar)
        .project-media-item.is-active
          img.project-media-img(data-src="images/screenshots/particles.jpg" alt="Particles" title="Screenshot Particles")

      +project-square

  .project-item-right
    h2.project-title Particles

    p.project-desc
      | Implementation of Curl Noise in a Particles System.

    p.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with JavaScript, OpenGL Shading Language and Web Graphics Library.

    a.project-link(href="/experiments/particles/" target="_blank")
      span.project-link-dash
      span.project-link-text Enter
