.project-item#3m-digital-art-exhibition
  .project-item-left
    .project-media
      .project-media-list(scrollbar)
        .project-media-item.is-active
          img.project-media-img(data-src="dist/img/screenshots/3m-digital-art-exhibition.jpg" alt="3M Digital Art Exhibition" title="Screenshot 3M Digital Art Exhibition")

      +project-square

  .project-item-right
    h2.project-title 3M Digital Art Exhibition

    p.project-desc
      | Do your own appropriation of the art, interact with Mona Lisa with different shapes and colors.

    h3.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with HTML, CSS, JavaScript, Canvas and GreenSock Animation Platform.

    h3.project-desc.project-desc-highlight Role

    p.project-desc
      | Front End Developer for Claragema.

    a.project-link(href="http://mostra3mdeartedigital.com.br/" target="_blank")
      span.project-link-dash
      span.project-link-text Access
