a.project-btn.btn.btn-right.js-project-close(href='#home')
  span.btn-text Close

  svg.btn-bg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 129.6 53.3')
    path(fill='none' d='M129.3.4L116 13.7H0')
    path(fill='none' d='M0 39.7h116L129.3 53')
