.project-list
  include ./list/_doki
  include ./list/_rio-2016-countdown
  include ./list/_naturally-bizarre
  include ./list/_fiap
  include ./list/_particles
  include ./list/_shift
  include ./list/_triangles
  include ./list/_next
  include ./list/_3m-digital-art-exhibition
  include ./list/_app-marathon
  include ./list/_fiap-undergraduate
  include ./list/_fiap-mba
  include ./list/_call-to-innovation
