.project-item#fiap
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/fiap-1.jpg' alt='FIAP' title='Screenshot FIAP')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/fiap-2.jpg' alt='FIAP' title='Screenshot FIAP')

      .project-media-btns
        a.project-media-btn.project-media-btn-prev(href='#') Prev
        a.project-media-btn.project-media-btn-next(href='#') Next

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title FIAP

    p.project-desc.project-desc-highlight.
      Institutional Website
    
    p.project-desc.
      My role in this project was the Front End Development
      using HTML (Hand-Code), CSS (SASS), JavaScript (jQuery and GSAP),
      Task Runner (Grunt), Icon System (SVG) and Wordpress.

    a.project-link(href='https://www.fiap.com.br/' target='_blank') Access



.project-item#shift
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/shift-1.jpg' alt='SHIFT' title='Screenshot SHIFT')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/shift-2.jpg' alt='SHIFT' title='Screenshot SHIFT')
      
      .project-media-arrows
        a.project-media-btn.project-media-btn-prev(href='#') Prev
        a.project-media-btn.project-media-btn-next(href='#') Next

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title SHIFT

    p.project-desc.project-desc-highlight.
      Courses Website
    
    p.project-desc.
      My role in this project was the Front End Development
      using HTML (Razor), CSS (SASS), JavaScript (jQuery),
      Task Runner (Grunt), Icon System (SVG) and ASP.NET MVC.
    
    a.project-link(href='https://www.fiap.com.br/shift/' target='_blank') Access



.project-item#next
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/next-1.jpg' alt='NEXT' title='Screenshot NEXT')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/next-2.jpg' alt='NEXT' title='Screenshot NEXT')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/next-3.jpg' alt='NEXT' title='Screenshot NEXT')
          
      .project-media-arrows
        a.project-media-btn.project-media-btn-prev(href='#') Prev
        a.project-media-btn.project-media-btn-next(href='#') Next
  
      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title NEXT

    p.project-desc.project-desc-highlight.
      Event Website
      
    p.project-desc.project-desc-highlight.
      My role in this project was the Front End Development
      using HTML (Hand-Code), CSS (SASS), JavaScript (jQuery and GSAP),
      Task Runner (Grunt), Icon System (SVG) and Wordpress.

    a.project-link(href='https://www.fiap.com.br/next/' target='_blank') Access



.project-item#3m-digital-art-exhibition
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/3m-digital-art-exhibition.jpg' alt='3M Digital Art Exhibition' title='Screenshot 3M Digital Art Exhibition')

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title 3M Digital Art Exhibition

    p.project-desc.project-desc-highlight.
      Event Website
      
    p.project-desc.project-desc-highlight.
      My role in this project was the Front End Development
      using HTML (Hand-Code), CSS (SASS), JavaScript (jQuery and GSAP),
      Task Runner (Grunt) and Canvas.

    a.project-link(href='http://mostra3mdeartedigital.com.br/' target='_blank') Access



.project-item#app-marathon
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/app-marathon-1.jpg' alt='App Marathon' title='Screenshot App Marathon')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/app-marathon-2.jpg' alt='App Marathon' title='Screenshot App Marathon')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/app-marathon-3.jpg' alt='App Marathon' title='Screenshot App Marathon')

      .project-media-arrows
        a.project-media-btn.project-media-btn-prev(href='#') Prev
        a.project-media-btn.project-media-btn-next(href='#') Next

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title App Marathon

    p.project-desc.project-desc-highlight.
      Contest Website
    
    p.project-desc.
      My role in this project was the Front End Development
      using HTML (Hand-Code), CSS (SASS), JavaScript (jQuery and GSAP),
      Task Runner (Grunt), Icon System (SVG) and ASP.NET MVC.

    a.project-link(href='http://www.maratonadeaplicativos.com.br/' target='_blank') Access



.project-item#call-to-innovation
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/call-to-innovation.jpg' alt='Call to Innovation' title='Screenshot Call to Innovation')

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title Call to Innovation

    p.project-desc.project-desc-highlight.
      Contest Website
      
    p.project-desc.
      My role in this project was the Front End Development
      using HTML (Hand-Code), CSS (Hand-Code), JavaScript (jQuery)
      and Wordpress.

    a.project-link(href='https://www.fiap.com.br/calltoinnovation/' target='_blank') Access



.project-item#shiyori
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/shiyori.jpg' alt='Shiyori' title='Screenshot Shiyori')

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title Shiyori

    p.project-desc.project-desc-highlight.
      Tumblr Theme
      
    p.project-desc.
      My role in this project was the Design and
      Front End Development using HTML (Hand-Code),
      CSS (SASS), JavaScript (jQuery), Task Runner (Grunt)
      and Icon System (SVG).

    a.project-link(href='https://shiyori-theme.tumblr.com/' target='_blank') Access



.project-item#deform
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/deform.jpg' alt='Deform' title='Screenshot Deform')

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title Deform
    
    p.project-desc.project-desc-highlight.
      Experiment

    p.project-desc.
      Featuring Joy & Pain by Pallace made with
      Budo, Babel, Browserify, Web Graphics Library
      (Three.js), GLSL Shaders and Web Audio.

    a.project-link(href='/experiments/deform/' target='_blank') Access



.project-item#triangles
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/triangles-1.jpg' alt='Triangles' title='Screenshot Triangles')
        .project-media-item
          img.project-img(src data-src='dist/img/screenshots/triangles-2.jpg' alt='Triangles' title='Screenshot Triangles')

      .project-media-arrows
        a.project-media-btn.project-media-btn-prev(href='#') Prev
        a.project-media-btn.project-media-btn-next(href='#') Next

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title Triangles
    
    p.project-desc.project-desc-highlight.
      Experiment

    p.project-desc.
      Featuring Gold On The Ceiling by The Black Keys
      made with Web Graphics Library (Three.js),
      GLSL Shaders and Web Audio.

    a.project-link(href='/experiments/triangles/' target='_blank') Access



.project-item#sphere
  .project-item-left
    .project-media
      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

      .project-media-list
        .project-media-item.is-active
          img.project-img(src data-src='dist/img/screenshots/sphere.jpg' alt='Sphere' title='Screenshot Sphere')

  .project-item-right
    h2.project-title Sphere
    
    p.project-desc.project-desc-highlight.
      Experiment

    p.project-desc.
      Featuring Pay No Mind (feat. Passion Pit) by Madeon
      made with Budo, Babel, Browserify, Web Graphics Library
      (Three.js) and Web Audio.

    a.project-link(href='/experiments/sphere/' target='_blank') Access
