.project-item#fiap
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src='dist/img/screenshots/fiap-1.jpg' data-src='dist/img/screenshots/fiap-1.jpg' alt='FIAP' title='Screenshot FIAP')
        .project-media-item
          img.project-img(src='dist/img/screenshots/fiap-2.jpg' data-src='dist/img/screenshots/fiap-2.jpg' alt='FIAP' title='Screenshot FIAP')

      .project-media-btns
        a.project-media-btn.project-media-btn-prev(href='#') Prev
        a.project-media-btn.project-media-btn-next(href='#') Next

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title FIAP

    p.project-desc.
      Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna
      aliquyam erat, sed diam voluptua.

    a.project-link(href='https://www.fiap.com.br/' target='_blank') Access



.project-item#shift
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src='dist/img/screenshots/shift-1.jpg' data-src='dist/img/screenshots/shift-1.jpg' alt='SHIFT' title='Screenshot SHIFT')
        .project-media-item
          img.project-img(src='dist/img/screenshots/shift-2.jpg' data-src='dist/img/screenshots/shift-2.jpg' alt='SHIFT' title='Screenshot SHIFT')
      
      .project-media-arrows
        a.project-media-btn.project-media-btn-prev(href='#') Prev
        a.project-media-btn.project-media-btn-next(href='#') Next

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title SHIFT

    p.project-desc.
      More simple and intuitive navigation prioritizing
      content: users can search for courses by category,
      subcategory and customized tracks
      with suggestions from the team of experts.
    
    a.project-link(href='https://www.fiap.com.br/shift/' target='_blank') Access



.project-item#next
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src='dist/img/screenshots/next-1.jpg' data-src='dist/img/screenshots/next-1.jpg' alt='NEXT' title='Screenshot NEXT')
        .project-media-item
          img.project-img(src='dist/img/screenshots/next-2.jpg' data-src='dist/img/screenshots/next-2.jpg' alt='NEXT' title='Screenshot NEXT')
        .project-media-item
          img.project-img(src='dist/img/screenshots/next-3.jpg' data-src='dist/img/screenshots/next-3.jpg' alt='NEXT' title='Screenshot NEXT')
          
      .project-media-arrows
        a.project-media-btn.project-media-btn-prev(href='#') Prev
        a.project-media-btn.project-media-btn-next(href='#') Next
  
      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title NEXT

    p.project-desc.
      Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna
      aliquyam erat, sed diam voluptua.

    a.project-link(href='https://www.fiap.com.br/next/' target='_blank') Access



.project-item#app-marathon
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src='dist/img/screenshots/app-marathon-1.jpg' data-src='dist/img/screenshots/app-marathon-1.jpg' alt='App Marathon' title='Screenshot App Marathon')
        .project-media-item
          img.project-img(src='dist/img/screenshots/app-marathon-2.jpg' data-src='dist/img/screenshots/app-marathon-2.jpg' alt='App Marathon' title='Screenshot App Marathon')
        .project-media-item
          img.project-img(src='dist/img/screenshots/app-marathon-3.jpg' data-src='dist/img/screenshots/app-marathon-3.jpg' alt='App Marathon' title='Screenshot App Marathon')

      .project-media-arrows
        a.project-media-btn.project-media-btn-prev(href='#') Prev
        a.project-media-btn.project-media-btn-next(href='#') Next

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title App Marathon

    p.project-desc.
      The App Marathon is a competition where groups
      of high school students from 3 to 5 participants
      are challenged to create an app for Android
      that can improve their lives as students,
      their school or the education in Brazil.

    a.project-link(href='http://www.maratonadeaplicativos.com.br/' target='_blank') Access



.project-item#call-to-innovation
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src='dist/img/screenshots/call-to-innovation.jpg' data-src='dist/img/screenshots/call-to-innovation.jpg' alt='Call to Innovation' title='Screenshot Call to Innovation')

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title Call to Innovation

    p.project-desc.
      Call to Innovation is a challenge created by FIAP,
      in partnership with Singularity University,
      which propose the use of technology to generate
      solutions to the humanity's greatest challenges.

    a.project-link(href='https://www.fiap.com.br/calltoinnovation/' target='_blank') Access



.project-item#deform
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src='dist/img/screenshots/deform.jpg' data-src='dist/img/screenshots/deform.jpg' alt='Deform' title='Screenshot Deform')

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title Deform

    p.project-desc.
      Experiment featuring Joy & Pain by Pallace
      made with Web Graphics Library (Three.js),
      Web Audio and GLSL Shaders.

    a.project-link(href='/expriments/deform/' target='_blank') Access



.project-item#triangles
  .project-item-left
    .project-media
      .project-media-list
        .project-media-item.is-active
          img.project-img(src='dist/img/screenshots/triangles-1.jpg' data-src='dist/img/screenshots/triangles-1.jpg' alt='Triangles' title='Screenshot Triangles')
        .project-media-item
          img.project-img(src='dist/img/screenshots/triangles-2.jpg' data-src='dist/img/screenshots/triangles-2.jpg' alt='Triangles' title='Screenshot Triangles')

      .project-media-arrows
        a.project-media-btn.project-media-btn-prev(href='#') Prev
        a.project-media-btn.project-media-btn-next(href='#') Next

      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

  .project-item-right
    h2.project-title Triangles

    p.project-desc.
      Experiment featuring Gold On The Ceiling
      by The Black Keys made with Web Graphics Library
      (Three.js), Web Audio and GLSL Shaders.
      This is an Chrome Experiment.

    a.project-link(href='/expriments/triangles/' target='_blank') Access



.project-item#sphere
  .project-item-left
    .project-media
      .project-media-square
        span.project-media-square-top
        span.project-media-square-right
        span.project-media-square-bottom
        span.project-media-square-left

      .project-media-list
        .project-media-item.is-active
          img.project-img(src='dist/img/screenshots/sphere.jpg' data-src='dist/img/screenshots/sphere.jpg' alt='Sphere' title='Screenshot Sphere')

  .project-item-right
    h2.project-title Sphere

    p.project-desc.
      Experiment featuring Pay No Mind (feat. Passion Pit)
      by Madeon made with Web Graphics Library
      (Three.js) and Web Audio.

    a.project-link(href='/expriments/sphere/' target='_blank') Access
