div.project-item#fiap
  div.project-item-left
    div.project-media
      img.project-img(src='' data-src='' alt='FIAP' title='Screenshot FIAP')

  div.project-item-right
    h2.project-title FIAP

    p.project-desc.
      Lorem ipsum dolor sit amet, consetetur #[br]
      sadipscing elitr, sed diam nonumy eirmod #[br]
      tempor invidunt ut labore et dolore magna #[br]
      aliquyam erat, sed diam voluptua.
    
    a.project-link(href='' target='_blank') Access

div.project-item#shift
  div.project-item-left
    div.project-media
      img.project-img(src='' data-src='' alt='SHIFT' title='Screenshot SHIFT')

  div.project-item-right
    h2.project-title SHIFT

    p.project-desc.
      Lorem ipsum dolor sit amet, consetetur #[br]
      sadipscing elitr, sed diam nonumy eirmod #[br]
      tempor invidunt ut labore et dolore magna #[br]
      aliquyam erat, sed diam voluptua.
    
    a.project-link(href='' target='_blank') Access

div.project-item#next
  div.project-item-left
    div.project-media
      img.project-img(src='' data-src='' alt='NEXT' title='Screenshot NEXT')

  div.project-item-right
    h2.project-title NEXT

    p.project-desc.
      Lorem ipsum dolor sit amet, consetetur #[br]
      sadipscing elitr, sed diam nonumy eirmod #[br]
      tempor invidunt ut labore et dolore magna #[br]
      aliquyam erat, sed diam voluptua.
    
    a.project-link(href='' target='_blank') Access

div.project-item#app-marathon
  div.project-item-left
    div.project-media
      img.project-img(src='' data-src='' alt='App Marathon' title='Screenshot App Marathon')

  div.project-item-right
    h2.project-title App Marathon

    p.project-desc.
      Lorem ipsum dolor sit amet, consetetur #[br]
      sadipscing elitr, sed diam nonumy eirmod #[br]
      tempor invidunt ut labore et dolore magna #[br]
      aliquyam erat, sed diam voluptua.
    
    a.project-link(href='' target='_blank') Access

div.project-item#call-to-innovation
  div.project-item-left
    div.project-media
      img.project-img(src='' data-src='' alt='Call to Innovation' title='Screenshot Call to Innovation')

  div.project-item-right
    h2.project-title Call to Innovation

    p.project-desc.
      Lorem ipsum dolor sit amet, consetetur #[br]
      sadipscing elitr, sed diam nonumy eirmod #[br]
      tempor invidunt ut labore et dolore magna #[br]
      aliquyam erat, sed diam voluptua.
    
    a.project-link(href='' target='_blank') Access

div.project-item#deform
  div.project-item-left
    div.project-media
      img.project-img(src='' data-src='' alt='Deform' title='Screenshot Deform')

  div.project-item-right
    h2.project-title Deform

    p.project-desc.
      Lorem ipsum dolor sit amet, consetetur #[br]
      sadipscing elitr, sed diam nonumy eirmod #[br]
      tempor invidunt ut labore et dolore magna #[br]
      aliquyam erat, sed diam voluptua.
    
    a.project-link(href='' target='_blank') Access

div.project-item#triangles
  div.project-item-left
    div.project-media
      img.project-img(src='' data-src='' alt='Triangles' title='Screenshot Triangles')

  div.project-item-right
    h2.project-title Triangles

    p.project-desc.
      Lorem ipsum dolor sit amet, consetetur #[br]
      sadipscing elitr, sed diam nonumy eirmod #[br]
      tempor invidunt ut labore et dolore magna #[br]
      aliquyam erat, sed diam voluptua.
    
    a.project-link(href='' target='_blank') Access

div.project-item#sphere
  div.project-item-left
    div.project-media
      img.project-img(src='' data-src='' alt='Sphere' title='Screenshot Sphere')

  div.project-item-right
    h2.project-title Sphere

    p.project-desc.
      Lorem ipsum dolor sit amet, consetetur #[br]
      sadipscing elitr, sed diam nonumy eirmod #[br]
      tempor invidunt ut labore et dolore magna #[br]
      aliquyam erat, sed diam voluptua.
    
    a.project-link(href='' target='_blank') Access
