.project-item#next
  .project-item-left
    .project-media
      .project-media-list(scrollbar)
        .project-media-item.is-active
          img.project-media-img(data-src="dist/img/screenshots/next-1.jpg" alt="NEXT" title="Screenshot NEXT")
        .project-media-item
          img.project-media-img(data-src="dist/img/screenshots/next-2.jpg" alt="NEXT" title="Screenshot NEXT")
        .project-media-item
          img.project-media-img(data-src="dist/img/screenshots/next-3.jpg" alt="NEXT" title="Screenshot NEXT")
        .project-media-item
          img.project-media-img(data-src="dist/img/screenshots/next-4.jpg" alt="NEXT" title="Screenshot NEXT")

      +project-arrows
      +project-square

  .project-item-right
    h2.project-title NEXT

    p.project-desc
      | NEXT is a festival in celebration of innovation, technology and creativity organized by FIAP.

    h3.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with HTML, CSS and JavaScript integrated with Wordpress.

    h3.project-desc.project-desc-highlight Role

    p.project-desc
      | Front End Developer for FIAP.

    a.project-link(href="https://www.fiap.com.br/next/" target="_blank")
      span.project-link-dash
      span.project-link-text Access
