.project-item#richard-rodrigues
  .project-item-left
    .project-media
      .project-media-list(scrollbar)
        .project-media-item.is-active
          img.project-media-img(data-src="dist/img/screenshots/richard-rodrigues-1.jpg" alt="Richard Rodrigues" title="Screenshot Richard Rodrigues")
        .project-media-item
          img.project-media-img(data-src="dist/img/screenshots/richard-rodrigues-2.jpg" alt="Richard Rodrigues" title="Screenshot Richard Rodrigues")
        .project-media-item
          img.project-media-img(data-src="dist/img/screenshots/richard-rodrigues-3.jpg" alt="Richard Rodrigues" title="Screenshot Richard Rodrigues")

      +project-square

  .project-item-right
    h2.project-title Richard Rodrigues

    p.project-desc
      | Portfolio of Richard Rodrigues a Digital Designer based in São Paulo, Brazil.

    h3.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with HTML, CSS, JavaScript, Vue.js and GreenSock Animation Platform.

    h3.project-desc.project-desc-highlight Role

    p.project-desc
      | Front End Developer for Richard Rodrigues.

    a.project-link(href="http://richard.gs/" target="_blank")
      span.project-link-dash
      span.project-link-text Access
