.project-item#rio-2016-countdown
  .project-item-left
    .project-media
      .project-media-list(scrollbar)
        .project-media-item.is-active
          img.project-media-img(data-src="dist/img/screenshots/rio-2016-countdown.jpg" alt="Rio 2016 Countdown" title="Screenshot Rio 2016 Countdown")

      +project-square

  .project-item-right
    h2.project-title Rio 2016 Countdown

    p.project-desc
      | Discover some curious facts about the millennial event that is coming for the first time to South America.

    h3.project-desc.project-desc-highlight Technology

    p.project-desc
      | Made with HTML, CSS, JavaScript and GreenSock Animation Platform.

    h3.project-desc.project-desc-highlight Role

    p.project-desc
      | Front End Developer for Royalpixel.

    a.project-link(href="http://contagemregressivajogosrio2016.revistagalileu.globo.com/" target="_blank")
      span.project-link-dash
      span.project-link-text Access
